.card {
  border-radius: 5px;
  box-shadow: black 0 2px 4px 0;
  background-color: #474a51;
  margin-bottom: 5px;
}

img {
  width: 100%;
}

p {
  margin: 10px;
  line-height: normal;
  color: white;
}
